*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
         -box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 700px;
  margin: 10px auto;
}

h1 {
	text-align: center;
}

.game-info {
	list-style: none;
	margin-bottom: 10px;
}
.game-info:after {
	content: "";
	display: block;
	clear: both;
}
.game-info li {
	float: left;
	margin-right: 20px;
}

.board {
	position: relative;
}

.game-board {
    list-style: none;
    width: 600px;
    height: 400px;
    background: #ebebeb;
    margin: 20px auto;
    padding: 0;
}

.game-info:after {
	content: "";
	display: block;
	clear: both;
}

.game-end-message {
    text-align: center;
    font-size: 40px;
    color: red;
}



.enemy,
.weapon,
.food,
.player,
.dungeon-entrance,
.floor,
.outside,
.wall {
	font-size: 10px;
   margin: 0;
   width: 20px;
	height: 20px;
}
.square {
	list-style: none;
	float: left;
	width: 20px;
	height: 20px;  
    text-align: center;
    padding: 0;
    /*border: 1px solid black;*/
}

.floor {
   
  
   background: gray;
    background-image: url('newgrass.jpg');
    background-size: 20px 20px;
}

.outside {
	
	background: brown;
	background-image: url('darkwall.jpg');
	
}
.dark {
	background: #1a1a1a;
}
.wall {
	background: black;
}

.entrance {
	background: purple;
}

.boss {
	background: darkred;
	background-image: url('bigboss.png');
	background-size: 20px 20px;
}

.enemy {

	background: red;
	background-image: url('enemy2.jpg');
	background-size: 20px 20px;
}
.player{
	background: blue;
	background-image: url('player.png');
	background-size: 20px 20px;
}
.food{
	background: green;
	background-image: url('food.png');
	background-size: 20px 20px;
}
.weapon{
	background: yellow;
}
